.landing-page {
    padding-right: 0;
    padding-left: 0;

    .info-section {
        display: flex;
        flex-direction: column;
        gap: 0;

        article {
            & > div {
                padding: 1rem;
            }

            img {
                width: 100%;
                object-fit: cover;
            }

            h2 {
                margin-left: 5rem;
                margin-top: 2.5rem;
            }

            h2+div {
                margin-left: 8rem;
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .landing-page {
        .info-section {
            article {
                display: grid;
            }

            article:nth-child(even) {
                grid-template-columns: 2fr 1fr;
                img {
                    order: 2;
                }

                & > div {
                    order: 1;
                }
            }

            article:nth-child(odd) {
                grid-template-columns: 1fr 2fr;
                img {
                    order: 1;
                }

                & > div {
                    order: 2;
                }
            }
        }
    }
}
