@use "./styles/reset.scss";
@use "./styles/themes.scss";

body {
    background-color: hsl(var(--color-bg-primary));
    color: hsl(var(--color-text-primary));

    .theme-switcher {
        position: fixed;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    #root {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        text-align: center;
        #root {
            margin: auto;
            width: 80%;
            text-align: left;
        }
    }
    @media screen and (min-width: 915px) {
        text-align: center;
        #root {
            margin: auto;
            width: 60%;
            text-align: left;
        }
    }
}
