@use "./styles/reset.scss";
@use "./styles/themes.scss";

body {
    background-color: hsl(var(--backgroundColors-primary));
    color: hsl(var(--textColors-primary));

    #root {
        width: 100%;
    }

    a {
        text-decoration: none;
    color: hsl(var(--textColors-primary));
    }
}
