@use "./styles/reset.scss";
@use "./styles/themes.scss";

body {
    background-color: hsl(var(--backgroundColors-primary));
    color: hsl(var(--textColors-primary));

    .theme-switcher {
        position: fixed;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    #root {
        width: 100%;
    }
}
